.login-container {
    height: 100vh;
    width: 100vw;
    background: #024230;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    font-family: "Inter", sans-serif;
    color: #024230;
}

.login-container .logo img {
    width: 500px;
    margin-bottom: 50px;
}

.login-container input {
    width: 500px;
    padding: 0.75rem 1rem;
    border-radius: 8px;
    border: 2px solid white;
    background: white;
    font-size: 1rem;
    outline: none;
    transition: 0.2s ease;
    margin-top: -30px;
    margin-bottom: -20px;
    color: black;
    font-family: 'Inter', sans-serif;
}

.login-container input:focus {
    border-color: #024230;
    box-shadow: 0 0 5px rgba(0, 120, 80, 0.3);
}

.error {
    color: white;
    text-shadow: 
        -1px -1px 0 red,  
         1px -1px 0 red,
        -1px  1px 0 red,
         1px  1px 0 red;
    font-weight: 600;
    margin-top: -0.5rem;
}

.login-container button {
    width: 250px;
    height: 60px;
    padding: 0.75rem 1rem;
    border-radius: 8px;
    border: none;
    background: white;
    color: #024230;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s ease;
    font-family: 'Bebas Neue', bebas-neue;
}

.login-container button:hover {
    background: #024230;
    transform: translateY(-2px);
    background: white;
}

.login-container button:active {
    transform: scale(0.98);
}

.login-container h1 {
    font-family: 'Bebas Neue', bebas-neue;
    font-size: 25px;
    color: white;
    margin-left: -485px;
    margin-bottom: 20px;
}

.login-container h2 {
    font-family: 'Bebas Neue', bebas-neue;
    font-size: 25px;
    color: white;
    margin-left: -450px;
    margin-bottom: 15px;
    margin-top: 30px;
}

.forgotpass button {
    color: white;
    font-size: 15px;
    background: none;
    margin-left: 420px;
    text-decoration: underline;
    margin-top: 10px;
    font-family: 'Inter', sans-serif;
}

.forgotpass button:hover {
    color: white;
    background: transparent;
    transform: translateY(-2px);
}
.forgotpass button:focus {
    outline: none;
}

.create-account button {
    color: white;
    font-size: 17px;
    background: none;
    text-decoration: underline;
    margin-top: 150px;
    font-family: 'Inter', sans-serif;
}

.create-account button:hover {
    color: white;
    background: transparent;
    transform: translateY(-2px);
}

.create-account button:focus {
    outline: none;
}