@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html, body {
    overflow: hidden;
}

.map-container {
    display: flex;
}

.map-content {
    flex: 1;
    padding-left: 8.2rem;
    padding-right: 17.2rem;
    background: #fff;
    color: #002b16;
}

.header {
    font-family: 'Bebas Neue', bebas-neue;
    font-weight: 600;
    font-size: 3rem;
    color: #024230;
    margin-bottom: 2.3rem;
    margin-top: 3.1rem;
    margin-left: -0.1rem;
}

.map-content .map {
    width: 902px;
    height: 683px;
    background: #00694E;
     overflow: visible !important;
    position: relative;
    max-width: 902px;
}

.map-layer img.campus-map {
    pointer-events: none;
}

.map-pin {
    pointer-events: auto !important;
}

.map-layer {
    position: relative;
    width: 100%;
    height: 100%;
}

.map-wrapper {
    width: 100%;
    height: 100%;
}

.campus-map {
    display: block;
    width: auto;
    height: auto;
    max-width: none;
    max-height: none;
    user-select: none;
}

.map-content .map img {
    display: block;

    width: 100%;
    height: 100%;

    max-width: 900px;
}

.pin-container {
    position: absolute;
    transform: translate(-50%, -100%);
    z-index: 9999;
    width: 30px;
    height: 30px;
}

.map-pin {
    width: 30px;
    height: 30px;
    object-fit: contain;
    user-select: none;
    pointer-events: none;
}

.pin-pulse {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;

    background: rgba(255, 0, 0, 0.4);
    border-radius: 50%;
    transform: translate(-50%, -50%);

    animation: pulseRing 1.2s ease-out infinite;
    pointer-events: none;
}

@keyframes pulseRing {
    0% {
        width: 12px;
        height: 10px;
        opacity: 1.0;
    }
    70% {
        width: 90px;
        height: 90px;
        opacity: 0.0;
    }
    100% {
        width: 0px;
        height: 0px;
        opacity: 0;
    }
}

.pin-key {
    width: 16px;
    height: 16px;
    object-fit: contain;
    margin-left: 8px;
    vertical-align: middle;
    margin-top: 5px;
    position: static !important;
    transform: none !important;
    cursor: default !important;
    z-index: 1 !important;
}

.pin-key2 {
    width: 16px;
    height: 16px;
    object-fit: contain;
    margin-left: 8px;
    vertical-align: middle;
    margin-top: 5px;
    position: static !important;
    transform: none !important;
    cursor: default !important;
    z-index: 1 !important;
}

.pin-key3 {
    width: 16px;
    height: 16px;
    object-fit: contain;
    margin-left: 8px;
    vertical-align: middle;
    margin-top: -2px;
    position: static !important;
    transform: none !important;
    cursor: default !important;
    z-index: 1 !important;
}

.popup-label {
    font-family: 'Bebas Neue', bebas-neue;
    font-size: 20px;
    position: absolute;
    padding: 4px 8px;
    background: #00694E;
    border: 2px solid #00694E;
    font-weight: bold;
    color: white;
    transform: translate(-50%, -180%);
    z-index: 9999;
}

.map-with-key {
    display: flex;
    align-items: flex-start;
    gap: 3rem;
}

.building-key-container {
    display: flex;
    align-items: flex-start;
    margin-top: 0;
    margin-left: 2rem;
}

.buildings {
    flex: 1;
    border: 2px solid #00694E;
    display: flex;
    flex-direction: column;
    height: 711px;
}

.buildings-list,
.address-list {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;          
    list-style: none;    
    width: 100%;
}

.buildings-list li {
    text-align: center;
}

.buildings-list > li {
  font-weight: bold;
}

.buildings-list > li .address-list li {
  font-weight: normal;
  font-size: small;
}

.buildings-list > .arc {
    margin-top: 0.3rem;
}

.key-bar {
    font-family: 'Bebas Neue', bebas-neue;
    background: #00694E;
    color: white;
    padding: 1rem 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 2rem;
    white-space: nowrap;
}

.stocker img.building-photo,
.arc img.building-photo,
.alden img.building-photo {
    margin: 0;
    padding: 0;          
    list-style: none;    
    width: 100%;
    width: 220px;
    background: #00694E;
    padding: 3px 3px;
}

.stocker img,
.arc img {
    margin-bottom: 0.6rem;
}
