@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.favorites-page {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
}

.favorites-container {
    flex: 1;
    padding-left: 8rem;
    padding-right: 17.2rem;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    overflow-y: auto;
}

.favorites-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #024230;
}

.favorites-header h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 600;
    font-size: 3rem;
    margin-left: 0.1rem;
}

.favorites-list-wrapper {
    position: relative;
    margin-top: 1rem;
}

.edit-btn {
    position: absolute;
    top: -3.6rem;
    right: -10rem;
    background: none;
    border: none;
    color: #024230;
    font-weight: 600;
    cursor: pointer;
    font-size: 1.2rem;
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    transition: transform 0.15s ease;
    z-index: 2;
}

.edit-btn:hover {
    color: #00694E;
    transform: translateX(3px);
}

.edit-btn:focus {
    outline: none;
    box-shadow: none;
}

.favorites-list3 {
    list-style: none;
    padding: 0;
    margin: -0.8rem;
    margin-left: 0.2rem;
    display: flex;
    flex-direction: column;
    width: 1424px;
    gap: 0.6rem;
}

.favorite-item {
    background-color: #00694E;
    color: white;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 1rem 1.5rem;
    font-weight: 600;
    font-size: 1rem;
}

.room-name {
    font-size: 20px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.room-status {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    min-width: 4rem;
}

.status-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.room-number2 {
    font-weight: 500;
    font-size: 1.1rem;
}

.remove-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.remove-btn:hover svg {
    transform: scale(1.2);
}

.remove-btn:focus {
    outline: none;
    box-shadow: none;
}

